@model List<Car>
@{
    ViewData["Title"] = "Arabalar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Marka</th>
        <th>Model Adı</th>
        <th>Model Yılı</th>
        <th>Kilometre</th>
        

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.ModelName</td>
            <td>@item.Year</td>
            <td>@item.Kilometer</td>
            
            <td><a asp-action="DeleteCar" asp-route-id="@item.CarId" class="btn btn-danger"><i class="fa fa-trash"></i></a> </td>
            <td><a asp-action="UpdateCar" asp-route-id="@item.CarId" class="btn btn-info"><i class="fa fa-pen"></i></a> </td>
        </tr>
    }
</table>

<a asp-action="CreateCar" asp-controller="AdminBrand" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Yeni Araba Ekle</a>

