
@model List<ResultListAboutDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{

<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">Cental <span class="text-primary">Sitesi Hakkında</span></h1>
                        <p class="mb-0">
                            @item.Description1
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                        <img src="~/Cental-1.0.0/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Vizyonumuz</h5>
                                <p class="mb-0">@item.Vision</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/Cental-1.0.0/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Misyonumuz</h5>
                                <p class="mb-0">@item.Mission</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        @item.Description2
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">@item.ExperienceYear</h1>
                                <h5 class="text-light mb-0">Yıllık Deneyim</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> @item.Item1</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> @item.Item2</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> @item.Item3</p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> @item.Item4</p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="/About/Index" class="btn btn-primary rounded py-3 px-5">Daha Fazlası</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex align-items-center">
                                <img src="@item.ProfilePicture" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="Image">
                                <div class="ms-4">
                                    <h4>@item.NameSurname</h4>
                                    <p class="mb-0">@item.JobTitle</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="@item.ImageUrl1" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                    <div class="img-2">
                        <img src="@item.ImageUrl2" class="img-fluid rounded w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}