@model List<ResultProcessDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
           
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-action="DeleteProcess" asp-route-id="@item.ProcessId" class="btn btn-danger">Sil</a> </td>
            <td><a asp-action="UpdateProcess" asp-route-id="@item.ProcessId" class="btn btn-info">Güncelle</a> </td>
        </tr>
    }
</table>

<a asp-action="CreateProcess" asp-controller="AdminProcess" class="btn btn-primary">Yeni Süreç Ekle</a>

