@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Feature";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İkon</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Icon</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-action="DeleteFeature" asp-route-id="@item.FeatureId" class="btn btn-danger">Sil</a> </td>
            <td><a asp-action="UpdateFeature" asp-route-id="@item.FeatureId" class="btn btn-info">Güncelle</a> </td>
        </tr>
    }
</table>

<a asp-action="CreateFeature" asp-controller="AdminFeature" class="btn btn-primary">Yeni Feature Ekle</a>