
@{
}

<div class="container-fluid topbar bg-secondary d-none d-xl-block w-100">
    <div class="container">
        <div class="row gx-0 align-items-center" style="height: 45px;">
            <div class="col-lg-6 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a href="#" class="text-muted me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Bize ulaş</a>
                    <a href="tel:@ViewBag.Phone" class="text-muted me-4"><i class="fas fa-phone-alt text-primary me-2"></i>@ViewBag.Phone</a>
                    <a href="mailto:@ViewBag.Mail" class="text-muted me-0"><i class="fas fa-envelope text-primary me-2"></i>@ViewBag.Mail</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <div class="d-flex align-items-center justify-content-end">
                    @foreach (var item in @ViewBag.social)
                    {
                        <a class="btn btn-secondary btn-md-square rounded-circle me-3" href="@item.Url"><i class=" @item.Icon"></i></a>

                    }
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>

