
@{
}

<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Hakkımızda</h4>
                        <p class="mb-3">Araç kiralama sektöründe 25 yıllık deneyimimizle sizlere en iyi hizmeti sunuyoruz</p>
                    </div>
                    <div class="position-relative">

                        @await Component.InvokeAsync("_MailingListComponent")
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_QuickLinkComponent")
          
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Çalışma Saatleri</h4>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Mon - Friday:</h6>
                        <p class="text-white mb-0">@ViewBag.WeekendHour</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Saturday:</h6>
                        <p class="text-white mb-0">@ViewBag.MidWeekHour</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Vacation:</h6>
                        <p class="text-white mb-0">@ViewBag.VacationHour</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">İletişim Bilgileri</h4>
                    <a href="#"><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a>
                    <a href="mailto:@ViewBag.Mail"><i class="fas fa-envelope me-2"></i> @ViewBag.Mail</a>
                    <a href="tel:@ViewBag.Phone"><i class="fas fa-phone me-2"></i> @ViewBag.Phone</a>
                    <a href="tel:@ViewBag.Fax" class="mb-3"><i class="fas fa-print me-2"></i> @ViewBag.Fax</a>
                    <div class="d-flex">
                        @foreach (var item in @ViewBag.social)
                        {
                            <a class="btn btn-secondary btn-md-square rounded-circle me-3" href="@item.Url"><i class=" @item.Icon"></i></a>
                           
                        }

                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>